anyio==3.6.2
asynch==0.2.2
bcrypt==4.0.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
ciso8601==2.3.0
click==8.1.3
clickhouse-cityhash==1.0.2.4
clickhouse-connect==0.6.11
clickhouse-driver==0.2.6
clickhouse-sqlalchemy==0.2.4
colorama==0.4.6
contourpy==1.0.7
cryptography==40.0.2
cycler==0.11.0
czsc==0.9.18
Deprecated==1.2.13
dill==0.3.6
ecdsa==0.18.0
et-xmlfile==1.1.0
exceptiongroup==1.1.1
fastapi==0.95.1
fonttools==4.39.4
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.0
httpx==0.24.0
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
leb128==1.0.5
loguru==0.7.0
lxml==4.9.2
lz4==4.3.2
MarkupSafe==2.1.2
matplotlib==3.7.1
minio==7.1.16
numpy==1.24.3
openpyxl==3.1.2
orjson==3.8.12
packaging==23.1
pandas==2.0.1
parse==1.19.0
passlib==1.7.4
Pillow==10.0.1
plotly==5.14.1
pluggy==1.0.0
prettytable==3.7.0
pyarrow==14.0.1
pyasn1==0.5.0
pycparser==2.21
pydantic==1.10.7
pyecharts==2.0.3
pyinstrument==4.4.0
pyparsing==3.0.9
PySnooper==1.1.1
pytest==7.3.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
requests==2.30.0
requests-toolbelt==1.0.0
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
simplejson==3.19.1
singleton-decorator==1.0.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.48
starlette==0.26.1
tenacity==8.2.2
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.65.0
tushare==1.2.89
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
urllib3==2.0.2
uvicorn==0.22.0
wcwidth==0.2.6
websocket-client==0.57.0
win32-setctime==1.1.0
wrapt==1.15.0
zstandard==0.21.0
zstd==1.5.5.1
